<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.admin.server.domain.sys.repository.mapper.SysMessageMapper">

    <select id="getMessageList" resultType="org.laokou.admin.client.vo.SysMessageVO">
         select id,create_date,title,`type`
         from boot_sys_message
         where del_flag = '0'
         <if test="qo.username != null and qo.username != ''">
             and username like concat('%',#{qo.username},'%')
         </if>
        <if test="qo.title != null and qo.title != ''">
            and title like concat('%',#{qo.title},'%')
        </if>
         order by create_date desc
    </select>

    <select id="getMessageByDetailId" resultType="org.laokou.admin.client.vo.MessageDetailVO">
SELECT a.title,a.content from boot_sys_message a
join boot_sys_message_detail b on b.message_id = a.id
where b.id = #{id}
    </select>

    <select id="getMessageById" resultType="org.laokou.admin.client.vo.MessageDetailVO">
SELECT a.title,a.content from boot_sys_message a where a.id = #{id}
    </select>

    <select id="getUnReadList" resultType="org.laokou.admin.client.vo.SysMessageVO">
        SELECT b.id,a.title,a.create_date from boot_sys_message a
join boot_sys_message_detail b on b.message_id = a.id
where a.del_flag = '0' and b.read_flag = '0' and a.type = #{type} and b.user_id = #{userId}
order by a.create_date desc
    </select>

    <update id="readMessage">
        update boot_sys_message_detail set read_flag = '1', `version` = `version` + 1 where id = #{id} and `version` = #{version}
    </update>
</mapper>