<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.admin.server.domain.sys.repository.mapper.SysMenuMapper">

    <select id="getMenuList" resultType="org.laokou.admin.client.vo.SysMenuVO">
        select id,pid,`name`,icon,url,`type`,permission from boot_sys_menu
        where del_flag = 0
        <if test="type != null">
            and `type` = #{type} and visible = 0
        </if>
        order by sort desc
    </select>

    <select id="getTenantMenuListByTenantId" resultType="org.laokou.admin.client.vo.SysMenuVO">
        select a.id,a.pid,a.`name`,a.icon,a.url,a.`type`,a.permission from boot_sys_menu a
        join boot_sys_package_menu b on b.menu_id = a.id
        join boot_sys_tenant c on c.package_id = b.package_id
        where a.del_flag = 0 and c.id = #{tenantId}
        <if test="type != null">
            and a.`type` = #{type} and a.visible = 0
        </if>
        order by a.sort desc
    </select>

    <select id="queryMenuList" resultType="org.laokou.admin.client.vo.SysMenuVO">
        select id,pid,`name`,sort,`type`,icon,url,permission,visible from boot_sys_menu
        where del_flag = 0
        <if test="qo.name != null and qo.name != ''">
            and `name` like concat('%',#{qo.name},'%')
        </if>
        order by sort desc
    </select>

    <select id="getMenuById" resultType="org.laokou.admin.client.vo.SysMenuVO">
        select id,pid,`name`,sort,`type`,icon,url,permission,visible from boot_sys_menu
        where id = #{id}
    </select>

    <select id="getMenuListByUserId" resultType="org.laokou.admin.client.vo.SysMenuVO">
        SELECT a.url,
        a.type,
        a.sort,
        a.id,
        a.pid,
        a.name,
        a.icon,
        a.permission
        FROM boot_sys_menu a
        ,boot_sys_role b
        ,boot_sys_role_menu c
        ,boot_sys_user d
        ,boot_sys_user_role e
        WHERE a.id = c.menu_id
        AND c.role_id = b.id
        AND d.id = e.user_id
        AND b.id = e.role_id
        AND d.id = #{userId}
        and a.del_flag = 0
        <if test="type != null">
            and a.type = #{type} and a.visible = 0
        </if>
        group by a.url,
                a.type,
                a.sort,
                a.id,
                a.pid,
                a.name,
                a.icon,
                a.permission
        order by a.sort desc
    </select>

    <select id="getMenuIdsByRoleId" resultType="long">
        SELECT a.id
        FROM boot_sys_menu a
        ,boot_sys_role b
        ,boot_sys_role_menu c
        WHERE a.id = c.menu_id
        AND c.role_id = b.id
        AND b.id = #{roleId}
        and a.del_flag = 0
        group by a.id
    </select>

    <select id="getVersion" resultType="integer">
        select `version` from boot_sys_menu where id = #{id}
    </select>

    <select id="getTenantMenuList" resultType="org.laokou.admin.client.vo.SysMenuVO">
        select id,pid,`name` from boot_sys_menu
        where del_flag = 0
          AND `name` NOT LIKE '菜单修改'
          AND `name` NOT LIKE '菜单新增'
          AND `name` NOT LIKE '菜单删除'
          AND `name` not LIKE '租户%'
          AND `name` not LIKE '套餐%'
          AND `name` not LIKE '数据源%'
          AND `name` not LIKE '%同步'
          AND `name` not like '%搜索%'
        order by sort desc
    </select>

</mapper>
