<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.admin.server.domain.sys.repository.mapper.SysOssMapper">

    <select id="getVersion" resultType="integer">
        select version from boot_sys_oss where id = #{id}
    </select>
    <select id="queryOssPage" resultType="org.laokou.oss.client.vo.SysOssVO">
        SELECT
            id,
            `name`,
            endpoint,
            region,
            access_key,
            secret_key,
            bucket_name,
            `status`,
            path_style_access_enabled
        FROM
            boot_sys_oss
        WHERE
            del_flag = 0
<if test="qo.name != null and qo.name != ''">
    and `name` like concat('%',#{qo.name},'%')
</if>
        order by create_date desc
    </select>

    <select id="getOssById" resultType="org.laokou.oss.client.vo.SysOssVO">
        SELECT
            id,
            `name`,
            endpoint,
            region,
            access_key,
            secret_key,
            bucket_name,
            `status`,
            path_style_access_enabled
        FROM
            boot_sys_oss
        WHERE id = #{id}
    </select>

</mapper>
