<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.admin.server.domain.sys.repository.mapper.SysResourceMapper">
    <select id="getResourceList" resultType="org.laokou.admin.client.vo.SysResourceVO">
        select
        a.id,
        a.title,
        (select `status` from boot_sys_resource_audit b where del_flag = 0 and a.id = b.resource_id order by create_date desc limit 1) as `status`,
        a.code,
        a.remark,
        a.tags,
        (select process_instance_id from boot_sys_resource_audit b where del_flag = 0 and a.id = b.resource_id order by create_date desc limit 1)as process_instance_id
        from boot_sys_resource a
        where a.del_flag = '0'
        <if test="qo.title != null and qo.title != ''">
            and a.title like concat('%',#{qo.title},'%')
        </if>
        <if test="qo.code != null and qo.code != ''">
            and a.code = #{qo.code}
        </if>
        <if test="qo.id != null">
            and a.id = #{qo.id}
        </if>
        order by a.create_date desc
    </select>

    <select id="getResourceById" resultType="org.laokou.admin.client.vo.SysResourceVO">
        select
        a.id,
        a.title,
        a.url,
        a.code,
        a.remark,
        a.tags
        from boot_sys_resource a
        where a.id = #{id}
    </select>

    <select id="getResourceAuditByResourceId" resultType="org.laokou.admin.client.vo.SysResourceVO">
        select
            a.resource_id as id,
            a.title,
            a.url,
            a.status,
            a.code,
            a.remark,
            a.tags,
            a.process_instance_id
        from boot_sys_resource_audit a
        where a.resource_id = #{id}
        order by create_date desc
            limit 1
    </select>

    <select id="getResourceIndexList" resultType="org.laokou.elasticsearch.client.index.ResourceIndex">
select id,title,`code`,`remark`,DATE_FORMAT(create_date,'%Y%m') as ym from boot_sys_resource
where del_flag = 0 and `code` = #{code}
        <if test="ym != null and ym != ''">
            and DATE_FORMAT(create_date,'%Y%m') = #{ym}
        </if>
    </select>

    <select id="getResourceTotal" resultType="java.lang.Long">
select count(1) from boot_sys_resource
where del_flag = 0 and `code` = #{code}
<if test="ym != null and ym != ''">
    and DATE_FORMAT(create_date,'%Y%m') = #{ym}
</if>
    </select>

    <select id="getResourceYmPartitionList" resultType="java.lang.String">
select DATE_FORMAT(create_date,'%Y%m') a from boot_sys_resource
where del_flag = 0 and `code` = #{code}
group by a
    </select>

    <select id="getVersion" resultType="integer">
        select `version` from boot_sys_resource where id = #{id}
    </select>

</mapper>
