<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.admin.server.domain.sys.repository.mapper.SysRoleMapper">

    <select id="getRoleIdsByUserId" resultType="long">
        SELECT a.id FROM boot_sys_role a
        ,boot_sys_user b
        ,boot_sys_user_role c
        <where>
            b.id = c.user_id
            AND a.id = c.role_id
            <if test="userId != null">
                AND b.id = #{userId}
            </if>
            and a.del_flag = 0
        </where>
        group by a.id
        order by a.create_date desc
    </select>

    <select id="getRoleList" resultType="org.laokou.admin.client.vo.SysRoleVO">
        select id,`name`,sort from boot_sys_role
        where del_flag = 0
         <if test="qo.name != '' and qo.name != null">
             and `name` like concat('%',#{qo.name},'%')
         </if>
        <if test="qo.tenantId != null">
            and tenant_id = #{qo.tenantId}
        </if>
        order by sort desc
    </select>

    <select id="getRoleById" resultType="org.laokou.admin.client.vo.SysRoleVO">
        select id,`name`,sort from boot_sys_role
        where id = #{id}
    </select>

    <select id="getVersion" resultType="integer">
        select `version` from boot_sys_role where id = #{id}
    </select>

</mapper>
