<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Copyright (c) 2022-2025 KCloud-Platform-IoT Author or Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.admin.role.gatewayimpl.database.RoleDeptMapper">

  <delete id="deleteObjById">
    delete from boot_sys_role_dept where id = #{roleDeptDO.id}
  </delete>

  <select id="selectIdsByRoleIds" resultType="java.lang.Long">
    select id
    from boot_sys_role_dept
    where role_id in
    <foreach collection="roleIds" item="item" open="(" close=")">
      #{item}
    </foreach>
  </select>

  <select id="selectDeptIdsByRoleId" resultType="java.lang.String">
    select dept_id
    from boot_sys_role_dept
    where role_id = #{roleId}
  </select>
</mapper>
