# Compiled class file
*.class

# Log file
*.log
logs
doc/db/db_data
.idea
*.iml
# BlueJ files
*.ctxt
/**/target
*.data

# Mobile Tools for Java (J2ME)
.mtj.tmp/
*.gz

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.rar
info.log.*.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

nacos
work
file_store