#   /*
#    * Copyright (c) 2022-2025 KCloud-Platform-IoT Author or Authors. All Rights Reserved.
#    *
#    * Licensed under the Apache License, Version 2.0 (the "License");
#    * you may not use this file except in compliance with the License.
#    * You may obtain a copy of the License at
#    *
#    *   http://www.apache.org/licenses/LICENSE-2.0
#    *
#    * Unless required by applicable law or agreed to in writing, software
#    * distributed under the License is distributed on an "AS IS" BASIS,
#    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    * See the License for the specific language governing permissions and
#    * limitations under the License.
#    *
#    */
jasypt:
  encryptor:
    # 加密算法
    # springboot2加密密钥 => 使用MD5AndDES
    algorithm: PBEWithMD5AndDES
    # IV生成类
    iv-generator-classname: org.jasypt.iv.NoIvGenerator
    # 密钥
    password: @JASYPT-ENCRYPTOR-PASSWORD@

db:
  # 数据库数量，请按照作者的来，请不要瞎几把改
  # 数据库数量，请按照作者的来，请不要瞎几把改
  # 数据库数量，请按照作者的来，请不要瞎几把改
  num: 1
  # 数据库连接地址
  url.'0': jdbc:@DATASOURCE-PLATFORM@://@DATASOURCE-HOST@:@DATASOURCE-PORT@/@DATASOURCE-DB-NACOS@?@DATASOURCE-PARAM-NACOS@
  # 数据库用户名
  user.'0': @DATASOURCE-USERNAME-NACOS@
  # 数据库密码
  password.'0': @DATASOURCE-PASSWORD-NACOS@
  # see DataSourcePoolProperties 与 ExternalDataSourceProperties
  pool:
    config:
      # see DataSourcePoolProperties
      # see HikariConfig
      # 最小空闲连接数
      minimum-idle: 5
      # 空闲连接的最大存活时间
      idle-timeout: 600000
      # 连接时间
      connection-timeout: 30000
      # 超时时间
      validation-timeout: 10000
      # 最大连接数
      maximum-pool-size: 50
      # 数据库驱动
      driver-class-name: @DATASOURCE-DRIVER-CLASS-NAME@
management:
  metrics:
    export:
      elastic:
        # 不暴露指标到Elastic
        enabled: false
      influx:
        # 不暴露指标到Influx
        enabled: false
nacos:
  config:
    push:
      # 配置推送失败时的最大重试次数
      maxRetryTime: 50
  core:
    auth:
      caching:
        # 启用认证信息的缓存，减少重复认证的开销
        enabled: true
      enable:
        #  禁止通过 User-Agent 请求头进行白名单认证 => 设置为 false 表示所有请求必须携带有效凭证（如 Token）
        userAgentAuthWhite: false
      enabled: true
      plugin:
        nacos:
          token:
            cache:
              # 禁用 Token 缓存，每次请求需重新验证 Token
              enable: false
            expire:
              #  Token 的有效期，超时后需重新获取
              seconds: 18000
            secret:
              # 生成和验证 Token 的密钥
              key: SecretKey012345678901234567890123456789012345678901234567890123456789
      server:
        identity:
          # 服务节点间通信的认证标识，用于集群内部身份校验
          key: serverIdentity
          value: security
      system:
        # 指定系统类型为 Nacos
        type: nacos
  istio:
    mcp:
      server:
        # 禁用 Istio 的 Mesh Configuration Protocol (MCP) 服务 =>  若不使用 Istio 服务网格，可关闭此功能
        enabled: false
  naming:
    empty-service:
      # 自动清理无实例注册的空服务
      auto-clean: true
      clean:
        # 服务清理任务的初始延迟时间
        initial-delay-ms: 50000
        # 服务清理任务的执行间隔，每 30 秒检查一次
        period-time-ms: 30000
  security:
    ignore:
      # 配置无需认证即可访问的 URL 路径，通常用于静态资源或健康检查
      urls: /,/error,/**/*.css,/**/*.js,/**/*.html,/**/*.map,/**/*.svg,/**/*.png,/**/*.ico,/console-ui/public/**,/v1/auth/**,/v1/console/health/**,/actuator/**,/v1/console/server/**
server:
  error:
    # 应用程序在发生错误时，HTTP 响应中始终返回具体的错误消息
    include-message: always
  # 端口
  port: ${SERVER_PORT:8848}
  servlet:
    # 请求上下文路径
    contextPath: /nacos
  undertow:
    threads:
      # 设置IO线程数，来执行非阻塞任务，负责多个连接数
      io: 16
      # 工作线程数
      worker: 512
    # 每块buffer的空间大小
    buffer-size: 2048
    # 分配堆外内存
    direct-buffers: true
    accesslog:
      enabled: true
  ssl:
    # 关闭证书
    enabled: false
  http2:
    # 关闭http2
    enabled: false
  # 优雅停机
  shutdown: graceful
spring:
  main:
    # banner模式
    banner-mode: console
  application:
    # 应用名称
    name: ${SERVICE_ID:laokou-nacos}
  profiles:
    # 环境
    active: @PROFILE-ACTIVE@
  sql:
    init:
      # 指定数据库类型
      platform: @DATASOURCE-PLATFORM@
  liquibase:
    # 开启数据库版本管理工具
    enabled: true
    # 数据库版本变更配置
    change-log: classpath:/db/changelog/db.changelog-master.xml
    # 数据库用户名
    user: @DATASOURCE-USERNAME-NACOS@
    # 数据库密码
    password: @DATASOURCE-PASSWORD-NACOS@
    # 数据库连接地址
    url: jdbc:@DATASOURCE-PLATFORM@://@DATASOURCE-HOST@:@DATASOURCE-PORT@/@DATASOURCE-DB-NACOS@?@DATASOURCE-PARAM-NACOS@
