server:
  port: 9032

spring:
  profiles:
    active: @PROFILE-ACTIVE@
  application:
    name: laokou-sample-websocket
  websocket-server:
    enabled: true
    boss-core-size: 2
    core-pool-size: 16
    worker-core-size: 16
    ip: 0.0.0.0
    port: 1112
    service-id: ${spring.application.name}-server
    all-idle-time: 0
    reader-idle-time: 60
    writer-idle-time: 0
    max-content-length: 65536
    consolidate-when-no-read-in-progress: true
    explicit-flush-after-flushes: 10
    websocket-path: "/ws"
  thymeleaf:
    servlet:
      content-type: text/html
    cache: false
    suffix: .html
    prefix: classpath:/templates/

rocketmq:
  producer:
    group: laokou_producer_group
  name-server: rocketmq-namesrv:9876
  consumer:
    pull-batch-size: 16

logging:
  config: classpath:log4j2.xml
