<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>多租户统一认证平台</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <form class="form-signin" method="post" th:action="@{/form/token}">
    <h2 class="form-signin-heading">多租户统一认证平台</h2>
    <div class="alert alert-danger" role="alert" th:if="${errMsg != null}" th:text="${errMsg != null} ? ${errMsg}"/>
    <p>
      <label for="username" class="sr-only">用户名</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="用户名" required="" autofocus="">
    </p>
    <p>
      <label for="password" class="sr-only">密码</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="密码" required="">
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
  </form>
</div>
</body>
</html>