<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Copyright (c) 2022 KCloud-Platform-Alibaba Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.flowable.server.mapper.TaskMapper">

    <select id="getAssignee" resultType="string">
        SELECT a.assignee_
        FROM ACT_HI_ACTINST a
        JOIN ACT_RU_TASK b ON b.id_ = a.task_id_
        WHERE act_type_ = 'userTask' AND b.proc_inst_id_ = #{instanceId}
    </select>

    <select id="getTakePage" resultType="org.laokou.flowable.vo.TaskVO">
        SELECT
        a.task_id_ AS taskId,
        a.act_name_ AS taskName,
        a.proc_def_id_ AS definitionId,
        a.proc_inst_id_ AS instanceId,
        #{dto.username} AS assigneeName,
        a.start_time_ AS createTime,
        b.task_def_key_ AS taskDefinitionKey,
        d.name_ AS processName,
        c.name_ AS processInstanceName,
        c.business_key_ as businessKey
        FROM
        ACT_HI_ACTINST a
        join ACT_RU_TASK b on a.task_id_ = b.id_
        join (select name_,business_key_,proc_inst_id_ from ACT_RU_EXECUTION where business_key_ <![CDATA[ <> ]]> '') c on a.proc_inst_id_ = c.proc_inst_id_
        join ACT_RE_PROCDEF d on d.id_ = a.proc_def_id_
        where
        a.assignee_ = #{dto.userId}
        and b.suspension_state_ = 1
        and a.act_type_ = 'userTask'
        and d.key_ = #{dto.processKey}
        <if test="dto.processName != null and dto.processName != ''">
        and d.name_ like concat('%',#{dto.processName},'%')
        </if>
        ORDER BY
        a.start_time_ DESC
    </select>

</mapper>