<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.laokou.auth.domain.sys.repository.mapper.SysUserMapper">

    <select id="getUserDetail" resultType="org.laokou.common.user.UserDetail" flushCache="true">
     SELECT a.id as id
    ,a.username as username
    ,a.img_url as imgUrl
    ,a.super_admin as superAdmin
    ,a.status as status
    ,a.email as email
    ,a.mobile as mobile
    ,a.dept_id as deptId
    ,a.password as password
    ,a.zfb_openid as zfbOpenid
    FROM `boot_sys_user` a
    where a.del_flag = '0'
    <if test="userId != null">
        and a.id = #{userId}
    </if>
    <if test="username != null and username != ''">
        and a.username = #{username}
    </if>
    </select>

    <select id="getUsernameByOpenid" resultType="string">
        select username from boot_sys_user
        where del_flag = '0'
        <if test="zfbOpenid != null and zfbOpenid != ''">
            and zfb_openid = #{zfbOpenid}
        </if>
    </select>

    <update id="updateZfbOpenid">
        update boot_sys_user set zfb_openid = #{zfbOpenid} where id = #{id}
    </update>

</mapper>
