version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:25.0
    environment:
      JVM_OPTS: -Xmx2048m
    steps:
      - checkout
      - run: |
          mkdir -p ~/.m2
          cat <<EOF > ~/.m2/settings.xml
          <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                                        https://maven.apache.org/xsd/settings-1.0.0.xsd">
            <servers>
              <server>
                <id>github</id>
                <username>KouShenhai</username>
                <password>${{ secrets.MAVEN_TOKEN }}</password>
              </server>
            </servers>
          </settings>
          EOF
      - run: mvn clean install -P dev -DskipTests
