/* General layout */
body {
	font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	background-color: #eee;
	padding: 40px 0;
	margin: 0;
	line-height: 1.5;
}

h2 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-size: 2rem;
	font-weight: 500;
	line-height: 2rem;
}

.content {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
	box-sizing: border-box;
}

@media (min-width: 800px) {
	.content {
		max-width: 760px;
	}
}

.v-middle {
	vertical-align: middle;
}

.center {
	text-align: center;
}

.no-margin {
	margin: 0;
}

/* Components */
a,
a:visited {
	text-decoration: none;
	color: #06f;
}

a:hover {
	text-decoration: underline;
	color: #003c97;
}

input[type="text"],
input[type="password"] {
	height: auto;
	width: 100%;
	font-size: 1rem;
	padding: 0.5rem;
	box-sizing: border-box;
}

button {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border: none;
	border-radius: 0.1rem;
	width: 100%;
	cursor: pointer;
}

button.primary {
	color: #fff;
	background-color: #06f;
}

.alert {
	padding: 0.75rem 1rem;
	margin-bottom: 1rem;
	line-height: 1.5;
	border-radius: 0.1rem;
	width: 100%;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
}

.alert.alert-danger {
	color: #6b1922;
	background-color: #f7d5d7;
	border-color: #eab6bb;
}

.alert.alert-success {
	color: #145222;
	background-color: #d1f0d9;
	border-color: #c2ebcb;
}

.screenreader {
	position: absolute;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
	overflow: hidden;
}

/* Login / logout layouts */
.login-form {
	max-width: 340px;
	padding: 0 15px 15px 15px;
	margin: 0 auto 2rem auto;
	box-sizing: border-box;
}
