<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>laokou-auth</title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/2.3.1/jsencrypt.min.js"></script>
    <style>
        #loginBtn {
            margin-top: 2px;
        }
    </style>
</head>
<body>
<div id="info" style="color: red;display:none;font-size: 16px;">
    <span id="errorInfo"></span>
</div>
<form id="authForm" action="" method="post">
    <input autocomplete="off" type="text" id="username" name="username" placeholder="请输入用户名"><br/>
    <input autocomplete="off" type="password" id="password" name="password" placeholder="请输入密码"><br/>
    <input type="button" id="loginBtn" onclick="login()" value="登录">
</form>
<script>
    //RSA公钥
    let publicKey = 'MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC6fp5DbG9HX6jat08UHudyTXfwt60XaDBt5fp+wo0xgOtMujvrLGf4+ZM8Ba1QWksCJKQSF9Y/zYTk39rPiLcI1NXZYiig+g2uJAQAWhiT8A0mGVaNOT5mssEW9dZJ4o4F3SKuHP2J+LSG2oKBOKRJAVnikXvhKVHnbK59ZlYf5QIDAQAB'
    let queryAttr = window.location.search
    let redirectUrl = ""
    let errorInfo = ""
    if (queryAttr.length > 0) {
        queryAttr = queryAttr.substring(1)
        let data = queryAttr.split("&")
        for (let i = 0; i < data.length; i++) {
            let queryData = data[i].split("=")
            if (queryData[0] == "redirect_url") {
                redirectUrl = queryData[1]
            }
            if (queryData[0] == "error_info") {
                errorInfo = decodeURIComponent(queryData[1])
            }
        }
    }
    if (errorInfo != "") {
        document.getElementById("info").style.display = "inline"
        document.getElementById("errorInfo").innerText = errorInfo
    }
    //显示错误信息
    function login() {
        let encrypt = new JSEncrypt();
        encrypt.setPublicKey(publicKey);
        let username = document.getElementById("username").value
        let password = document.getElementById("password").value
        let body = $(document.body), form = $("<form method='post'></form>"), input;
        form.attr({"action":"http://175.178.69.253/laokou/auth/sys/auth/api/open/login"});
        input = $("<input type='hidden'>")
        input.attr({"name":"username"})
        input.val(encrypt.encrypt(username))
        form.append(input)
        input = $("<input type='hidden'>")
        input.attr({"name":"password"})
        input.val(encrypt.encrypt(password))
        form.append(input)
        input = $("<input type='hidden'>")
        input.attr({"name":"redirectUrl"})
        input.val(redirectUrl)
        form.append(input)
        form.appendTo(document.body)
        form.submit()
        document.body.removeChild(form[0])
    }
</script>
</body>
</html>
