<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zfb_loading</title>
</head>
<body>
</body>
<script>
    let queryAttr = window.location.search
    let accessToken = ""
    if (queryAttr.length > 0) {
        queryAttr = queryAttr.substring(1)
        let data = queryAttr.split("&")
        for (let i = 0; i < data.length; i++) {
            let queryData = data[i].split("=")
            if (queryData[0] == "access_token") {
                accessToken = queryData[1]
            }
            if (queryData[0] == "zfb_openid") {
                localStorage.setItem("zfb_openid",queryData[1]);
            }
        }
    }
    if (accessToken != "") {
        location.href = "http://175.178.69.253/laokou/auth/sys/auth/api/zfbBind?Authorization=" + accessToken + "&zfb_openid=" + localStorage.getItem("zfb_openid")
    } else {
        location.href = "http://175.178.69.253/oauth2/login.html?redirect_url=http://175.178.69.253/oauth2/zfb/zfb_loading.html"
    }
</script>
</html>