<?xml version="1.0" encoding="UTF-8"?>
<!--
 /*
 * Copyright (c) 2022-2024 KCloud-Platform-IoT Author or Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.generator.gatewayimpl.database.TableMapper">

  <select id="selectObjs" resultType="org.laokou.generator.gatewayimpl.database.dataobject.TableDO">
    select relname as name,
    cast (obj_description (relfilenode, 'pg_class') as varchar) as comment
    from pg_class
    where relname in ( select tablename from pg_tables where schemaname = 'public' and tablename like 'boot_%')
    <if test="tableNames != null and tableNames.size() > 0">
      and relname in
      <foreach collection="tableNames" item="item" open="(" close=")">
        #{item}
      </foreach>
    </if>
  </select>
  <select id="selectColumns" resultType="org.laokou.generator.gatewayimpl.database.dataobject.TableColumnDO">
    select table_name as tableName,column_name as name, udt_name as dataType, col_description ( oid, attnum ) as comment
    from information_schema.columns a
    join pg_attribute b on b.attname = a.column_name
    join pg_class c on c.relname = a.table_name
    <where>
      table_name like 'boot_%'
      AND c.oid = b.attrelid
      AND b.attnum > 0
      <if test="tableNames != null and tableNames.size() > 0">
        and table_name in
        <foreach collection="tableNames" item="item" open="(" close=")">
          #{item}
        </foreach>
      </if>
      and column_name not in
      ('id','del_flag','version','create_date','update_date','creator','editor','dept_id','dept_path','tenant_id')
    </where>
    order by ordinal_position
  </select>

</mapper>
