#   /*
#    * Copyright (c) 2022-2026 KCloud-Platform-IoT Author or Authors. All Rights Reserved.
#    *
#    * Licensed under the Apache License, Version 2.0 (the "License");
#    * you may not use this file except in compliance with the License.
#    * You may obtain a copy of the License at
#    *
#    *   http://www.apache.org/licenses/LICENSE-2.0
#    *
#    * Unless required by applicable law or agreed to in writing, software
#    * distributed under the License is distributed on an "AS IS" BASIS,
#    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    * See the License for the specific language governing permissions and
#    * limitations under the License.
#    *
#    */
jasypt:
  encryptor:
    password: @SECRET-KEY@
server:
  port: ${SERVER_PORT:9990}
  compression:
    enabled: true
  ssl:
    # 开启证书
    enabled: @SSL-ENABLED@
    # 证书位置
    key-store: classpath:scg-keystore.p12
    # 证书别名
    key-alias: ${spring.application.name}
    # 秘钥类型
    key-store-type: PKCS12
    # 证书密码
    key-store-password: laokou
  http2:
    enabled: @SSL-ENABLED@
  forward-headers-strategy: native
  shutdown: graceful
  servlet:
    context-path: /api
  jetty:
    threads:
      # 工作线程池的最大线程数
      max: 5000
      # 工作线程池的最小备用线程数
      min: 50
      # 空闲超时时间
      idle-timeout: 30s
      # 线程池队列大小
      max-queue-capacity: 10000
      # selector线程池大小
      selectors: 16
      # accept线程池大小
      acceptors: 16
    accesslog:
      # 是否开启
      append: false
      # 访问日志格式
      format: ncsa
      # 访问日志保留天数
      retention-period: 7
    # 最大连接数
    max-connections: 50000
    # 表单参数最大数量
    max-form-keys: 5000
    # 连接空闲超时时间
    connection-idle-timeout: 5m
    # 请求参数最大大小
    max-http-form-post-size: 100MB
    # 最大响应头大小
    max-http-response-header-size: 32KB
spring:
  application:
    name: ${SERVICE_ID:laokou-admin}
  profiles:
    active: @PROFILE-ACTIVE@
  lifecycle:
    timeout-per-shutdown-phase: 2m
  servlet:
    multipart:
      enabled: true
      max-file-size: -1
      max-request-size: -1
  # 开启虚拟线程
  threads:
    virtual:
      enabled: true
  security:
    oauth2:
      resource-server:
        enabled: true
        request-matcher:
          ignore-patterns:
            GET:
              - /v3/api-docs/**=laokou-admin
              - /actuator/**=laokou-admin
              - /doc.html=laokou-admin
              - /webjars/**=laokou-admin
  cloud:
    loadbalancer:
      nacos:
        enabled: true
    inetutils:
      ignored-interfaces:
        - docker0
        - veth.*
    # Sentinel配置
    sentinel:
      datasource:
        db0:
          nacos:
            server-addr: @NACOS-CONFIG-ADDRESS@
            namespace: @NACOS-NAMESPACE@
            group-id: @NACOS-GROUP@
            data-id: admin-flow.json
            data-type: json
            username: @NACOS-USERNAME@
            password: @NACOS-PASSWORD@
            rule-type: flow
      filter:
        enabled: true
      web-context-unify: false
      eager: true #开启饥饿加载，直接初始化
      transport:
        dashboard: sentinel:8972
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.xml
  cache:
    distributed-configs:
      users:
        ttl: 5m
      user_menu:
        ttl: 5m
      sources:
        ttl: 5m
      tenants:
        ttl: 5m
      packages:
        ttl: 5m
      messages:
        ttl: 5m
      menus:
        ttl: 5m
      dicts:
        ttl: 5m
      depts:
        ttl: 5m
      oss:
        ttl: 5m

logging:
  config: classpath:log4j2-@PROFILE-ACTIVE@.xml

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    enabled: true
    path: /v3/api-docs
  group-configs:
    - group: default
      paths-to-match:
        - /**
      packages-to-scan:
        - org.laokou.admin.web

# mybatis-plus
mybatis-plus:
  # 全局处理
  global-config:
    db-config:
      column-format: "\"%s\""
  tenant:
    ignore-tables:
      - sys_tenant
      - sys_source
      - sys_package_menu
      - sys_package
    enabled: true
  mapper-locations: classpath*:/mapper/**/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.nologging.NoLoggingImpl

# Actuator配置
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  tracing:
    export:
      enabled: true
    propagation:
      type: w3c
    # 采样率 => 100%
    sampling:
      probability: 1
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://otel-collector:4317/v1/traces
          compression: gzip
          timeout: 5s
          transport: grpc
  metrics:
    tags:
      application: ${spring.application.name}


# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: false
  setting:
    language: zh_cn
