<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.auth.server.domain.sys.repository.mapper.SysAuthenticationMapper">

    <select id="getAccessTokenList" resultType="string">
        SELECT CONVERT(access_token_value USING utf8) as access_token from oauth2_authorization
        WHERE access_token_value <![CDATA[ <> ]]> #{accessToken}
        and NOW() <![CDATA[ < ]]> access_token_expires_at
        AND NOW() > access_token_issued_at
        and principal_name = #{loginName}
    </select>

</mapper>