<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.auth.server.domain.sys.repository.mapper.SysMenuMapper">
    <select id="getPermissionsList" resultType="string">
        SELECT permission FROM boot_sys_menu
        where del_flag = 0 and type = 1
        GROUP BY permission
    </select>

    <select id="getPermissionsListByUserId" resultType="string">
        SELECT a.permission FROM boot_sys_menu as a
        ,boot_sys_role as b
        ,boot_sys_role_menu as c
        ,boot_sys_user as d
        ,boot_sys_user_role as e
        WHERE a.id = c.menu_id
        AND c.role_id = b.id
        AND d.id = e.user_id
        AND b.id = e.role_id
        AND d.id = #{userId}
        and a.del_flag = 0 and a.type = 1
        GROUP BY a.permission
    </select>

    <select id="getTenantPermissionList" resultType="string">
        SELECT a.permission FROM boot_sys_menu a
        JOIN boot_sys_package_menu b on b.menu_id = a.id
        JOIN boot_sys_tenant c on c.package_id = b.package_id
        where a.del_flag = 0 and c.id = #{tenantId} and a.type = 1
        GROUP BY a.permission
    </select>

</mapper>
