<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.auth.server.domain.sys.repository.mapper.SysUserMapper">

    <select id="getUserDetail" resultType="org.laokou.auth.client.user.UserDetail">
     SELECT a.id as userId
    ,a.username as username
    ,a.password as password
    ,a.img_url as imgUrl
    ,a.super_admin as superAdmin
    ,a.status as status
    ,a.mail as mail
    ,a.mobile as mobile
    ,a.dept_id as deptId
    ,a.tenant_id as tenantId
    FROM `boot_sys_user` a
    where a.del_flag = 0
          and a.tenant_id = #{tenantId}
          <if test="loginType != null and loginType == 'password'">
              and a.username = #{loginName}
          </if>
          <if test="loginType != null and loginType == 'mail'">
              and a.mail = #{loginName}
          </if>
          <if test="loginType != null and loginType == 'mobile'">
              and a.mobile = #{loginName}
          </if>
    limit 1
    </select>

</mapper>
