<?xml version="1.0" encoding="UTF-8"?>
<!--
 /*
 * Copyright (c) 2022 KCloud-Platform-Alibaba Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.admin.gatewayimpl.database.UserMapper">

    <update id="updateUser">
        update ${tableName}
        <set>
            version = version + 1,
            update_date = now(),
            <if test="userDO.status != null">
                `status` = #{userDO.status},
            </if>
            <if test="userDO.password != null and userDO.password != ''">
                `password` = #{userDO.password},
            </if>
            <if test="userDO.avatar != null and userDO.avatar != ''">
                avatar = #{userDO.avatar},
            </if>
            <if test="userDO.mail != null and userDO.mail != ''">
                mail = #{userDO.mail},
            </if>
            <if test="userDO.mobile != null and userDO.mobile != ''">
                mobile = #{userDO.mobile},
            </if>
            <if test="userDO.editor != null">
                editor = #{userDO.editor},
            </if>
            <if test="userDO.deptId != null">
                dept_id = #{userDO.deptId},
            </if>
            <if test="userDO.deptPath != null">
                dept_path = #{userDO.deptPath}
            </if>
        </set>
        <where>
            <if test="userDO.id != null">
                and id = #{userDO.id}
            </if>
            <if test="userDO.version != null">
                and version = #{userDO.version}
            </if>
        </where>
    </update>
    <select id="getOptionListByTenantId" resultType="org.laokou.admin.gatewayimpl.database.dataobject.UserDO">
        select id
            ,username
        from boot_sys_user
        where del_flag = 0
            and `status` = 0
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        order by id desc
    </select>
    <select id="getUserListFilter" resultType="org.laokou.admin.gatewayimpl.database.dataobject.UserDO">
        <if test="tables != null and tables.size() > 0">
        select * from (<foreach collection="tables" item="table" separator=" union all ">
                select id
                ,`username`
                ,super_admin
                ,create_date
                ,avatar
                ,`status`
            FROM ${table} boot_sys_user
            where del_flag = 0
            and tenant_id = #{user.tenantId}
            and create_date between #{pageQuery.startTime} and #{pageQuery.endTime}
            <if test="user.username != null and user.username != ''">
                and `username` = #{user.username}
            </if>
            <if test="pageQuery.sqlFilter != null and pageQuery.sqlFilter != ''">
                and ${pageQuery.sqlFilter}
            </if>
            </foreach>) a
        order by id desc
        limit ${pageQuery.pageIndex},${pageQuery.pageSize}
        </if>
    </select>
    <select id="getUserListTotalFilter" resultType="java.lang.Integer">
        <if test="tables != null and tables.size() > 0">
            select sum(a.num) from (<foreach collection="tables" item="table" separator=" union all ">
            select count(1) as num
            FROM ${table} as boot_sys_user
            where del_flag = 0
            and tenant_id = #{user.tenantId}
            and create_date between #{pageQuery.startTime} and #{pageQuery.endTime}
            <if test="user.username != null and user.username != ''">
                and `username` = #{user.username}
            </if>
            <if test="pageQuery.sqlFilter != null and pageQuery.sqlFilter != ''">
                and ${pageQuery.sqlFilter}
            </if>
            </foreach>) a
        </if>
    </select>
    <select id="getUserCount" resultType="java.lang.Integer">
        <if test="tables != null and tables.size() > 0">
            select count(1) from (<foreach collection="tables" item="table" separator=" union all ">
                select 1
                from ${table}
                where del_flag = 0
                and tenant_id = #{user.tenantId}
                and username = #{user.username}
                <if test="user.id != null">
                    and id <![CDATA[ <> ]]> #{user.id}
                </if>
            </foreach>)a
        </if>
    </select>

</mapper>
