<?xml version="1.0" encoding="UTF-8"?>
<!--
 /*
 * Copyright (c) 2022 KCloud-Platform-Alibaba Author or Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.admin.gatewayimpl.database.UserMapper">

    <resultMap id="user" type="org.laokou.admin.gatewayimpl.database.dataobject.UserDO" >
        <id column="id" property="id" />
        <result column="username" property="username" typeHandler="org.laokou.common.mybatisplus.handler.JasyptTypeHandler" />
        <result column="avatar" property="avatar" />
        <result column="superAdmin" property="superAdmin" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <update id="updateUser">
        update boot_sys_user
        <set>
            version = version + 1,
            update_date = now(),
            <if test="userDO.status != null">
                `status` = #{userDO.status},
            </if>
            <if test="userDO.password != null and userDO.password != ''">
                `password` = #{userDO.password},
            </if>
            <if test="userDO.avatar != null and userDO.avatar != ''">
                avatar = #{userDO.avatar},
            </if>
            <if test="userDO.mail != null and userDO.mail != ''">
                mail = #{userDO.mail},
            </if>
            <if test="userDO.mobile != null and userDO.mobile != ''">
                mobile = #{userDO.mobile},
            </if>
            <if test="userDO.editor != null">
                editor = #{userDO.editor},
            </if>
            <if test="userDO.deptId != null">
                dept_id = #{userDO.deptId},
            </if>
            <if test="userDO.deptPath != null">
                dept_path = #{userDO.deptPath}
            </if>
        </set>
        <where>
            <if test="userDO.id != null">
                and id = #{userDO.id}
            </if>
            <if test="userDO.version != null">
                and version = #{userDO.version}
            </if>
        </where>
    </update>
    <select id="getOptionList" resultMap="user">
        select id
        ,username
        from boot_sys_user a
        where a.del_flag = 0
        and a.`status` = 0
        order by id desc
    </select>
    <select id="getUserListFilter" resultMap="user">
        select id
        ,`username`
        ,super_admin
        ,create_date
        ,avatar
        ,`status`
        FROM boot_sys_user a
        where a.del_flag = 0
        and a.create_date between #{pageQuery.startTime} and #{pageQuery.endTime}
        <if test="user.username != null and user.username != ''">
            and a.`username` = #{user.username}
        </if>
        order by id desc
        limit ${pageQuery.pageIndex},${pageQuery.pageSize}
    </select>
    <select id="getUserListTotalFilter" resultType="java.lang.Integer">
        select count(1) as num
        FROM boot_sys_user a
        where a.del_flag = 0
        and a.create_date between #{pageQuery.startTime} and #{pageQuery.endTime}
        <if test="user.username != null and user.username != ''">
            and a.`username` = #{user.username}
        </if>
    </select>
    <select id="getUserCount" resultType="java.lang.Integer">
        select 1
        from ${table} as boot_sys_user
        where boot_sys_user.del_flag = 0
        and boot_sys_user.username = #{user.username}
        <if test="user.id != null">
            and boot_sys_user.id <![CDATA[ <> ]]> #{user.id}
        </if>
    </select>

</mapper>
