<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Copyright (c) 2022-2026 KCloud-Platform-IoT Author or Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.iot.gateway.gatewayimpl.database.GatewayMapper">

	<sql id="selectColumns">
		id,
		gateway_key,
		"name",
		status,
		product_id,
		address,
		longitude,
		latitude,
		remark,
		create_time
	</sql>

	<sql id="selectConditions">
		where del_flag = 0
		<if test="pageQuery.gatewayKey != null and pageQuery.gatewayKey != ''">
			and gateway_key like #{pageQuery.gatewayKey}
		</if>
		<if test="pageQuery.name != null and pageQuery.name != ''">
			and "name" like #{pageQuery.name}
		</if>
		<if test="pageQuery.status != null">
			and status = #{pageQuery.status}
		</if>
		<if test="pageQuery.productId != null">
			and product_id = #{pageQuery.productId}
		</if>
		<if test="pageQuery.params.startTime != null and pageQuery.params.startTime != ''">
			and create_time <![CDATA[ >= ]]> #{pageQuery.params.startTime}
		</if>
		<if test="pageQuery.params.endTime != null and pageQuery.params.endTime != ''">
			and create_time <![CDATA[ <= ]]> #{pageQuery.params.endTime}
		</if>
	</sql>

	<select id="selectObjectPage"
			resultType="org.laokou.iot.gateway.gatewayimpl.database.dataobject.GatewayDO">
		SELECT <include refid="selectColumns"/>
		from iot_gateway
		<include refid="selectConditions"/>
		order by id desc
		limit ${pageQuery.pageSize} offset ${pageQuery.pageIndex}
	</select>

	<select id="selectObjectCount" resultType="long">
		SELECT count(1)
		from iot_gateway
		<include refid="selectConditions"/>
	</select>

	<select id="selectVersion" resultType="integer">
		select version
		from iot_gateway
		where id = #{id}
	</select>

</mapper>
