<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.test.mybatisplus.mapper.T1Mapper">
    <insert id="insertBatch" useGeneratedKeys="false">
        insert into t1(mobile) values
        <foreach collection="list" item="item" separator=",">
                (#{item.mobile})
        </foreach>
    </insert>
</mapper>