<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.laokou.admin.domain.sys.repository.mapper.SysMenuMapper">
    <select id="getPermissionsList" resultType="string" flushCache="true">
        SELECT DISTINCT substring_index(substring_index(permissions,',',help_topic_id + 1),',','-1') as permissions FROM boot_sys_menu
        left join mysql.help_topic on 1 = 1
        where help_topic_id &lt; length(permissions) - length(replace(permissions,',','')) + 1
        order by update_date desc
    </select>

    <select id="getPermissionsListByUserId" resultType="string" flushCache="true">
        SELECT DISTINCT substring_index(substring_index(permissions,',',help_topic_id + 1),',','-1') as permissions FROM boot_sys_menu
        ,boot_sys_role
        ,boot_sys_role_menu
        ,boot_sys_user
        ,boot_sys_user_role
        ,mysql.help_topic
        WHERE boot_sys_menu.id = boot_sys_role_menu.menu_id
        AND boot_sys_role_menu.role_id = boot_sys_role.id
        AND boot_sys_user.id = boot_sys_user_role.user_id
        AND boot_sys_role.id = boot_sys_user_role.role_id
        and help_topic_id &lt; length(permissions) - length(replace(permissions,',','')) + 1
        AND boot_sys_user.id = #{userId}
        order by boot_sys_menu.update_date desc
    </select>

    <select id="getMenuList" resultType="org.laokou.admin.interfaces.vo.SysMenuVO">
        select DISTINCT id,pid,`name`,icon,url,`method`,auth_level,type,permissions from boot_sys_menu
        where del_flag = '0'
        <if test="type != null">
            and type = #{type}
        </if>
        order by sort desc
    </select>

    <select id="queryMenuList" resultType="org.laokou.admin.interfaces.vo.SysMenuVO">
        select DISTINCT id,pid,`name`,sort,`type`,icon,url,`method`,auth_level,permissions from boot_sys_menu
        where del_flag = '0'
        <if test="qo.name != null and qo.name != ''">
            and `name` like concat('%',#{qo.name},'%')
        </if>
        order by sort desc
    </select>

    <select id="getMenuById" resultType="org.laokou.admin.interfaces.vo.SysMenuVO">
        select id,pid,`name`,sort,`type`,icon,url,`method`,auth_level,permissions from boot_sys_menu
        where id = #{id}
    </select>

    <select id="getMenuListByUserId" resultType="org.laokou.admin.interfaces.vo.SysMenuVO">
        SELECT DISTINCT boot_sys_menu.url,
        boot_sys_menu.type,
        boot_sys_menu.sort,
        boot_sys_menu.id,
        boot_sys_menu.pid,
        boot_sys_menu.name,
        boot_sys_menu.icon,
        boot_sys_menu.auth_level,
        boot_sys_menu.method,
        boot_sys_menu.permissions
        FROM boot_sys_menu
        ,boot_sys_role
        ,boot_sys_role_menu
        ,boot_sys_user
        ,boot_sys_user_role
        WHERE boot_sys_menu.id = boot_sys_role_menu.menu_id
        AND boot_sys_role_menu.role_id = boot_sys_role.id
        AND boot_sys_user.id = boot_sys_user_role.user_id
        AND boot_sys_role.id = boot_sys_user_role.role_id
        AND boot_sys_user.id = #{userId}
        and boot_sys_menu.del_flag = '0'
        <if test="type != null">
            and boot_sys_menu.type = #{type}
        </if>
        order by boot_sys_menu.sort desc
    </select>

    <update id="deleteMenu">
        update boot_sys_menu set del_flag = '1'
        where id = #{id}
    </update>

    <select id="getMenuListByRoleId" resultType="org.laokou.admin.interfaces.vo.SysMenuVO">
        SELECT DISTINCT boot_sys_menu.url,
        boot_sys_menu.type,
        boot_sys_menu.sort,
        boot_sys_menu.id,
        boot_sys_menu.pid,
        boot_sys_menu.name,
        boot_sys_menu.icon,
        boot_sys_menu.auth_level,
        boot_sys_menu.method,
        boot_sys_menu.permissions
        FROM boot_sys_menu
        ,boot_sys_role
        ,boot_sys_role_menu
        WHERE boot_sys_menu.id = boot_sys_role_menu.menu_id
        AND boot_sys_role_menu.role_id = boot_sys_role.id
        AND boot_sys_role.id = #{roleId}
        and boot_sys_menu.del_flag = '0'
        order by boot_sys_menu.sort desc
    </select>

    <select id="getMenuIdsByRoleId" resultType="long">
        SELECT distinct boot_sys_menu.id
        FROM boot_sys_menu
        ,boot_sys_role
        ,boot_sys_role_menu
        WHERE boot_sys_menu.id = boot_sys_role_menu.menu_id
        AND boot_sys_role_menu.role_id = boot_sys_role.id
        AND boot_sys_role.id = #{roleId}
        and boot_sys_menu.del_flag = '0'
    </select>
</mapper>
