<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.laokou.admin.domain.sys.repository.mapper.SysRoleMapper">

    <select id="getRoleIds" resultType="long">
        SELECT distinct id FROM boot_sys_role
        order by update_date desc
    </select>

    <select id="getRoleIdsByUserId" resultType="long">
        SELECT distinct boot_sys_role.id FROM boot_sys_role
        ,boot_sys_user
        ,boot_sys_user_role
        <where>
            and boot_sys_user.id = boot_sys_user_role.user_id
            AND boot_sys_role.id = boot_sys_user_role.role_id
            <if test="userId != null">
                AND boot_sys_user.id = #{userId}
            </if>
        </where>
        order by boot_sys_role.update_date desc
    </select>

    <select id="getRoleListByUserId" resultType="org.laokou.common.vo.SysRoleVO" flushCache="true">
        SELECT
        name,id,sort
        FROM
        (
        SELECT
        CASE
        WHEN super_admin = 1 THEN
        '超级管理员'
        ELSE
        ''
        END name,
        '1' as id,
        9999 as sort
        FROM
        boot_sys_user
        WHERE
        id = #{userId}
        UNION
        SELECT
        boot_sys_role.`name`,
        boot_sys_role.id,
        boot_sys_role.sort
        FROM
        boot_sys_role,
        boot_sys_user_role
        WHERE
        boot_sys_role.id = boot_sys_user_role.role_id
        AND boot_sys_user_role.user_id = #{userId}
        ) tmp
        WHERE
        name <![CDATA[ <> ]]> ''
        order by sort desc
    </select>

    <select id="getRoleList" resultType="org.laokou.common.vo.SysRoleVO">
        select id,`name`,sort from boot_sys_role
        where del_flag = '0'
         <if test="qo.name != '' and qo.name != null">
             and `name` like concat('%',#{qo.name},'%')
         </if>
        <if test="qo.sqlFilter != null and qo.sqlFilter != ''">
            and ( ${qo.sqlFilter} )
        </if>
        order by sort desc
    </select>

    <select id="getRoleById" resultType="org.laokou.common.vo.SysRoleVO">
        select id,`name`,sort from boot_sys_role
        where id = #{id}
    </select>

    <update id="deleteRole">
        update boot_sys_role set del_flag = '1'
        where id = #{id}
    </update>

</mapper>
