<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.laokou.admin.domain.sys.repository.mapper.SysResourceAuditLogMapper">
    <select id="getAuditLogList" resultType="io.laokou.admin.interfaces.vo.SysResourceAuditLogVO">
        select id,resource_id,`comment`,audit_date,audit_name,audit_status from boot_sys_resource_audit_log
        where del_flag = '0'
        <if test="qo.resourceId != null">
            and resource_id = #{qo.resourceId}
        </if>
        order by audit_date desc
    </select>
</mapper>
