<?xml version="1.0" encoding="UTF-8"?>
<!--
 /*
 * Copyright (c) 2022-2026 KCloud-Platform-IoT Author or Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.auth.gatewayimpl.database.DeptMapper">

  <select id="selectDeptIds" resultType="long">
      select distinct dept.id from (
        <if test="dataScopes != null and dataScopes.size() > 0">
          <foreach collection="dataScopes" item="dataScope" separator=" union all ">
            <choose>
              <when test="dataScope != null and dataScope == 'below_dept'">
                WITH recursive dept_tree as (
                  select
                  id, pid
                  from sys_dept
                  where id = #{user.deptId} and tenant_id = #{user.tenantId}
                  union all
                  select d.id, d.pid
                  from sys_dept d
                  join dept_tree dt on d.pid = dt.id
                )
                select id from dept_tree
              </when>
              <when test="dataScope != null and dataScope == 'self_dept'">
                select #{user.deptId}
              </when>
              <when test="dataScope != null and dataScope == 'custom'">
                select rd.dept_id from sys_role_dept rd
                join sys_user_role ur on ur.role_id = rd.role_id
                where ur.user_id = #{user.id} and rd.tenant_id = #{user.tenantId}
              </when>
            </choose>
          </foreach>
        </if>
      ) dept
  </select>

</mapper>
