<?xml version="1.0" encoding="UTF-8"?>
<!--
 /*
 * Copyright (c) 2022 KCloud-Platform-Alibaba Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.auth.gatewayimpl.database.DeptMapper">

    <select id="getDeptPathsByTenantId" resultType="string">
        select path
        from boot_sys_dept
        where del_flag = 0
        and pid = 0
        and tenant_id = #{tenantId}
    </select>

    <select id="getDeptPathsByUserIdAndTenantId" resultType="string">
        select a.path
        from boot_sys_dept as a
           , boot_sys_role as b
           , boot_sys_role_dept as c
           , boot_sys_user_role as e
        where a.id = c.dept_id
          and c.role_id = b.id
          and b.id = e.role_id
          and e.user_id = #{userId}
          and a.del_flag = 0
          and a.tenant_id = #{tenantId}
        group by a.path
    </select>

</mapper>