#   /*
#    * Copyright (c) 2022-2025 KCloud-Platform-IoT Author or Authors. All Rights Reserved.
#    *
#    * Licensed under the Apache License, Version 2.0 (the "License");
#    * you may not use this file except in compliance with the License.
#    * You may obtain a copy of the License at
#    *
#    *   http://www.apache.org/licenses/LICENSE-2.0
#    *
#    * Unless required by applicable law or agreed to in writing, software
#    * distributed under the License is distributed on an "AS IS" BASIS,
#    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    * See the License for the specific language governing permissions and
#    * limitations under the License.
#    *
#    */
jasypt:
  encryptor:
    password: @SECRET-KEY@

server:
  compression:
    enabled: true
  ssl:
    # 开启证书
    enabled: @SSL-ENABLED@
    # 证书位置
    key-store: classpath:scg-keystore.p12
    # 证书别名
    key-alias: ${spring.application.name}
    # 秘钥类型
    key-store-type: PKCS12
    # 证书密码
    key-store-password: laokou
  http2:
    enabled: @SSL-ENABLED@
  forward-headers-strategy: native
  shutdown: graceful
  port: ${SERVER_PORT:1111}
  servlet:
    context-path: /api
  tomcat:
    threads:
      # 工作线程池的最大线程数
      max: 500
      # 工作线程池的最小备用线程数
      min-spare: 50
    # 最大连接数
    max-connections: 10000
    # 当所有工作线程都在忙时，允许等待处理的最大连接数
    accept-count: 200
    # URI编码
    uri-encoding: UTF-8
    # 连接超时时间
    connection-timeout: 60s
    resource:
      # 静态缓存的最大大小
      cache-max-size: 100MB
spring:
  application:
    name: ${SERVICE_ID:laokou-auth}
  profiles:
    active: @PROFILE-ACTIVE@
  threads:
    virtual:
      enabled: true
  lifecycle:
    timeout-per-shutdown-phase: 2m
  # security
  security:
    oauth2:
      authorization-server:
        enabled: true
        # 多租户
        multiple-issuers-allowed: false
        client:
          default:
            token:
              authorization-code-time-to-live: 5m
              access-token-time-to-live: 5m
              refresh-token-time-to-live: 1h
              device-code-time-to-live: 5m
            registration:
              # Base64编码 OTVUeFNzVFBGQTN0RjEyVEJTTW1VVkswZGE6RnBId0lmdzR3WTkyZE8=
              client-id: 95TxSsTPFA3tF12TBSMmUVK0da
              client-name: OAuth2.1认证【用户名密码/邮箱/手机号/测试/设备授权码/客户端】
              # 对client-secret进行加密【原值 => FpHwIfw4wY92dO】
              client-secret: "{bcrypt}$2a$10$BDcxgmL3WYk7G.QEDTqlBeSudNlV3KUU/V6iC.hKlAbGAC.jbX2fO"
              client-authentication-methods:
                - client_secret_basic
              authorization-grant-types:
                - username_password
                - mail
                - mobile
                - test
                - refresh_token
                - client_credentials
                - urn:ietf:params:oauth:grant-type:device_code
                - urn:ietf:params:oauth:grant-type:jwt-bearer
                - urn:ietf:params:oauth:grant-type:token-exchange
              scopes:
                - read
                - write
            # 客户端请求访问时需要授权同意
            require-authorization-consent: false
            # PKCE
            require-proof-key: false
          pkce:
            token:
              authorization-code-time-to-live: 5m
              access-token-time-to-live: 5m
              refresh-token-time-to-live: 1h
              device-code-time-to-live: 5m
            registration:
              # Base64编码 ZWI3RGVkNWJiRmJkNzg5NmY4YTJjZmREYzk6RHBBa1BmejRlVzE4ZDI=
              client-id: eb7Ded5bbFbd7896f8a2cfdDc9
              client-name: OAuth2.1认证【授权码】
              # 对client-secret进行加密【原值 => DpAkPfz4eW18d2】
              client-secret: "{bcrypt}$2a$10$i2Y4II7czKcLqwAxWLgHqeJaIczss4wHArWmthzn3QoLhpCZtdN0O"
              client-authentication-methods:
                - none
              authorization-grant-types:
                - authorization_code
                - refresh_token
              scopes:
                - read
                - write
              redirect-uris:
                - http://127.0.0.1:8000
                - http://127.0.0.1:8001
                - https://laokou.org.cn
              post-logout-redirect-uris:
                - http://127.0.0.1:8000
                - http://127.0.0.1:8001
                - https://laokou.org.cn
            # 客户端请求访问时需要授权同意
            require-authorization-consent: true
            # PKCE
            require-proof-key: true
      resource-server:
        enabled: true
        request-matcher:
          ignore-patterns:
            GET:
              - /v3/api-docs/**=laokou-auth
              - /actuator/**=laokou-auth
              - /error=laokou-auth
              - /v1/captchas/{uuid}=laokou-auth
              - /v1/secrets=laokou-auth
              - /doc.html=laokou-auth
              - /webjars/**=laokou-auth
            POST:
              - /v1/captchas/send/mail=laokou-auth
              - /v1/captchas/send/mobile=laokou-auth
            DELETE:
              - /v1/tokens=laokou-auth
  cloud:
    # Loadbalancer配置
    loadbalancer:
      nacos:
        enabled: true
    # network
    inetutils:
      ignored-interfaces:
        - docker0
        - veth.*
    # Sentinel配置
    sentinel:
      datasource:
        # 自定义名称
        db0:
          nacos:
            server-addr: @NACOS-CONFIG-ADDRESS@
            namespace: @NACOS-NAMESPACE@
            data-id: auth-flow.json
            data-type: json
            group-id: @NACOS-GROUP@
            username: @NACOS-USERNAME@
            password: @NACOS-PASSWORD@
            rule-type: flow
      web-context-unify: false
      eager: true #开启饥饿加载，直接初始化
      transport:
        dashboard: sentinel:8972
      filter:
        enabled: true
  cache:
    distributed-configs:
      oss_resource:
        ttl: 5m
# actuator
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  tracing:
    export:
      enabled: true
    propagation:
      type: w3c
    # 采样率 => 100%
    sampling:
      probability: 1
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://otel-collector:4317/v1/traces
          compression: gzip
          timeout: 10s
          transport: grpc
  metrics:
    tags:
      application: ${spring.application.name}

# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: false
  setting:
    language: zh_cn

logging:
  config: classpath:log4j2-@PROFILE-ACTIVE@.xml

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    enabled: true
    path: /v3/api-docs
  group-configs:
    - group: default
      paths-to-match:
        - /**
      packages-to-scan:
        - org.laokou.auth.web

# mybatis-plus
mybatis-plus:
  # 全局处理
  global-config:
    db-config:
      column-format: "\"%s\""
  tenant:
    enabled: true
    ignore-tables:
      - sys_source
      - sys_tenant
  mapper-locations: classpath*:/mapper/**/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.nologging.NoLoggingImpl
