<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.sys.mapper.SysDictMapper">


    <select id="queryPageList" resultType="org.laokou.sys.vo.SysDictVO">
        SELECT
        id,
        create_date, update_date, del_flag, dept_id, dept_path, tenant_id, label, value, type, remark, sort
        from boot_sys_dict
        where del_flag = 0
            <if test="qo.createDate != null and qo.createDate != ''">
                    and `create_date` like concat('%',#{qo.createDate},'%')
            </if>
            <if test="qo.updateDate != null and qo.updateDate != ''">
                    and `update_date` like concat('%',#{qo.updateDate},'%')
            </if>
            <if test="qo.delFlag != null and qo.delFlag != ''">
                    and `del_flag` = #{qo.delFlag}
            </if>
            <if test="qo.deptId != null and qo.deptId != ''">
                    and `dept_id` = #{qo.deptId}
            </if>
            <if test="qo.deptPath != null and qo.deptPath != ''">
                    and `dept_path` like concat('%',#{qo.deptPath},'%')
            </if>
            <if test="qo.tenantId != null and qo.tenantId != ''">
                    and `tenant_id` = #{qo.tenantId}
            </if>
            <if test="qo.label != null and qo.label != ''">
                    and `label` like concat('%',#{qo.label},'%')
            </if>
            <if test="qo.value != null and qo.value != ''">
                    and `value` = #{qo.value}
            </if>
            <if test="qo.type != null and qo.type != ''">
                    and `type` = #{qo.type}
            </if>
            <if test="qo.remark != null and qo.remark != ''">
                    and `remark` like concat('%',#{qo.remark},'%')
            </if>
            <if test="qo.sort != null and qo.sort != ''">
                    and `sort` = #{qo.sort}
            </if>
            order by sort asc
    </select>

    <select id="resultList" fetchSize="1000" resultSetType="FORWARD_ONLY" resultType="org.laokou.sys.vo.SysDictVO">
        SELECT

        create_date, update_date, del_flag, dept_id, dept_path, tenant_id, label, value, type, remark, sort
        from boot_sys_dict
        where del_flag = 0
            <if test="qo.createDate != null and qo.createDate != ''">
                    and `create_date` like concat('%',#{qo.createDate},'%')
            </if>
            <if test="qo.updateDate != null and qo.updateDate != ''">
                    and `update_date` like concat('%',#{qo.updateDate},'%')
            </if>
            <if test="qo.delFlag != null and qo.delFlag != ''">
                    and `del_flag` = #{qo.delFlag}
            </if>
            <if test="qo.deptId != null and qo.deptId != ''">
                    and `dept_id` = #{qo.deptId}
            </if>
            <if test="qo.deptPath != null and qo.deptPath != ''">
                    and `dept_path` like concat('%',#{qo.deptPath},'%')
            </if>
            <if test="qo.tenantId != null and qo.tenantId != ''">
                    and `tenant_id` = #{qo.tenantId}
            </if>
            <if test="qo.label != null and qo.label != ''">
                    and `label` like concat('%',#{qo.label},'%')
            </if>
            <if test="qo.value != null and qo.value != ''">
                    and `value` = #{qo.value}
            </if>
            <if test="qo.type != null and qo.type != ''">
                    and `type` = #{qo.type}
            </if>
            <if test="qo.remark != null and qo.remark != ''">
                    and `remark` like concat('%',#{qo.remark},'%')
            </if>
            <if test="qo.sort != null and qo.sort != ''">
                    and `sort` = #{qo.sort}
            </if>
    </select>
</mapper>
