<?xml version="1.0" encoding="UTF-8"?>
<!--
 /*
 * Copyright (c) 2022 KCloud-Platform-Alibaba Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.admin.gatewayimpl.database.PackageMapper">

<!--    <resultMap id="package" type="org.laokou.common.tenant.vo.SysPackageVO">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
        <collection property="menuIds" ofType="java.lang.String">
            <constructor>
                <arg column="menuIds"/>
            </constructor>
        </collection>
    </resultMap>-->

<!--    <select id="getVersion" resultType="integer">
        select `version` from boot_sys_package where id = #{id}
    </select>

    <select id="getPackageById" resultMap="package">
        SELECT a.id,a.`name`,b.menu_id as menuIds from boot_sys_package a
        left JOIN boot_sys_package_menu b on b.package_id = a.id
        where del_flag = 0 and a.id = #{id}
    </select>

    <select id="queryPackagePage" resultMap="package">
        SELECT a.id,a.`name`, '' as menuIds from boot_sys_package a
        where a.del_flag = 0
        <if test="qo.name != null and qo.name != ''">
            and `name` like concat('%',#{qo.name},'%')
        </if>
        order by create_date desc
    </select>

    <select id="getOptionList" resultType="org.laokou.common.core.vo.OptionVO">
        select id as `value`, `name` as label FROM boot_sys_package
        where del_flag = 0
        order by create_date desc
    </select>-->

</mapper>
