<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.tenant.mapper.SysPackageMenuMapper">
    <insert id="insertBatch">
      insert into boot_sys_package_menu(package_id,menu_id)
      values
          <foreach collection="list" item="item" separator=",">
               (#{item.packageId},#{item.menuId})
          </foreach>
    </insert>
</mapper>