<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.tenant.mapper.SysSourceMapper">

    <select id="getVersion" resultType="integer">
        select `version` from boot_sys_source where id = #{id}
    </select>

    <select id="querySourcePage" resultType="org.laokou.tenant.vo.SysSourceVO">
        select id,`name`,driver_class_name,url,username from boot_sys_source
        where del_flag = 0
        <if test="qo.name != null and qo.name != ''">
            and `name` like concat('%',#{qo.name},'%')
        </if>
        order by create_date desc
    </select>

    <select id="querySourceName" resultType="string">
        select a.`name` from boot_sys_source a
        JOIN boot_sys_tenant b on b.source_id = a.id
        where b.id = #{tenantId}
    </select>

    <select id="querySource" resultType="org.laokou.tenant.vo.SysSourceVO">
        select a.driver_class_name,a.url,a.username,a.password from boot_sys_source a
        where a.del_flag = 0 and a.name = #{sourceName}
    </select>

    <select id="getSourceById" resultType="org.laokou.tenant.vo.SysSourceVO">
        select id,driver_class_name,url,username,password,`name` from boot_sys_source
        where id = #{id}
    </select>
    <select id="getOptionList" resultType="org.laokou.common.core.vo.OptionVO">
        select
            id as `value`
             ,`name` as label
        FROM boot_sys_source a
        where del_flag = 0
        order by create_date desc
    </select>
</mapper>
