<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.tenant.mapper.SysTenantSourceMapper">

    <select id="getVersion" resultType="integer">
        select `version` from boot_sys_tenant_source where id = #{id}
    </select>

    <select id="queryTenantSourcePage" resultType="org.laokou.tenant.vo.SysTenantSourceVO">
        select `name`,driver_class_name,url from boot_sys_tenant_source
    </select>

    <select id="querySourceName" resultType="string">
        select a.`name` from boot_sys_tenant_source a
                                 JOIN boot_sys_tenant b on b.source_id = a.id
        where a.del_flag = 0
    </select>
</mapper>
