$prefix: '.cron';

#{$prefix}-row {
  overflow: hidden;

  #{$prefix}-col-1 {
    width: calc(100% / 12);
    float: left;
  }

  #{$prefix}-col-2 {
    width: calc(100% / 6);
    float: left;
  }
}

#{$prefix}-form-inline {
  display: flex;
  flex-direction: row;
}

#{$prefix}-form-control {
  margin: 0 .2rem;
}

#{$prefix}-form-check-label {
  padding-left: .4rem;
}

#{$prefix}-nav-tabs {
  list-style: none;
  display: flex;
  padding:0;
  border-bottom: 1px solid lightgray;
}

#{$prefix}-nav-item {
  // margin-right: 10px;
}

#{$prefix}-nav-link {
  padding: 10px;
  background-color: rgba($color: #ffffff, $alpha: 1.0);
  border: none;
}

#{$prefix}-active {
  border-bottom: 2px solid #1677ff;
}