<?xml version="1.0" encoding="UTF-8"?>
<!--
 /*
 * Copyright (c) 2022 KCloud-Platform-Alibaba Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.admin.gatewayimpl.database.MessageDetailMapper">

    <insert id="insertBatch" useGeneratedKeys="false">
        insert into boot_sys_message_detail(id,message_id,user_id,creator,dept_id,dept_path,tenant_id,del_flag,version)
        values
            <foreach collection="list" item="item" separator=",">
                (#{item.id},#{item.messageId},#{item.userId},#{item.creator},#{item.deptId},#{item.deptPath},#{item.tenantId},'0','0')
            </foreach>
    </insert>

    <select id="getUnreadMessageCountByUserId" resultType="integer">
        SELECT count(1)
        from boot_sys_message_detail
        where read_flag = 0
            and user_id = #{userId}
    </select>

</mapper>
