<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laokou.common.log.mapper.SysLoginLogMapper">
    <select id="getLoginLogList" resultType="org.laokou.common.log.vo.SysLoginLogVO">
        select
        id
        ,create_date
        ,login_name
        ,request_ip
        ,request_address
        ,browser
        ,os
        ,request_status
        ,msg
        from boot_sys_login_log
        where del_flag = 0
        <if test="qo.tenantId != null">
            and tenant_id = #{qo.tenantId}
        </if>
        <if test="qo.loginName != null and qo.loginName != ''">
            and login_name like concat('%',#{qo.loginName},'%')
        </if>
        <if test="qo.requestStatus != null and qo.requestStatus != ''">
            and request_status = #{qo.requestStatus}
        </if>
        order by create_date desc
    </select>

    <select id="handleLoginLog" fetchSize="1000" resultSetType="FORWARD_ONLY" resultType="org.laokou.common.log.vo.SysLoginLogVO">
        select
        id
        ,create_date
        ,login_name
        ,request_ip
        ,request_address
        ,browser
        ,os
        ,request_status
        ,msg
        from boot_sys_login_log
        where del_flag = 0
        <if test="qo.loginName != null and qo.loginName != ''">
            and login_name like concat('%',#{qo.loginName},'%')
        </if>
        <if test="qo.requestStatus != null and qo.requestStatus != ''">
            and request_status = #{qo.requestStatus}
        </if>
        <if test="qo.tenantId != null">
            and tenant_id = #{qo.tenantId}
        </if>
        order by create_date desc
    </select>

</mapper>
