<?xml version="1.0" encoding="UTF-8"?>
<!--
 /**
 * Copyright (c) 2022 KCloud-Platform-Alibaba Authors. All Rights Reserved.
 * <p>
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * <p>
 * http://www.apache.org/licenses/LICENSE-2.0
 * <p>
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yousen.report.mapper.DeviceMapper">

    <select id="getDeviceIds" resultType="string">
        select dev_id from dw_iot_device
        where dev_id <![CDATA[ <> ]]> '' and dev_online_status = 1 and tenant_id = #{tenantId}
        GROUP BY dev_id
    </select>

    <select id="getSensorStatisticList" resultType="com.yousen.report.vo.SensorStatisticVO">
        <foreach collection="list" separator=" union " item="item">
            select dev_id,ad_id
                         ,max(rt_ad) as maxRT
                         ,min(rt_ad) as minRT
                         ,sum(if(weight > #{maxWight},1,0)) as maxWeightCount
                         ,sum(if(weight &lt; #{minWight},1,0)) as minWeightCount from ${item}
            where FIND_IN_SET(ad_id,'0,1,2,3,4,5,6') and date_format(ad_time,'%Y-%m-%d') = #{dateTime}
            GROUP BY dev_id,ad_id
        </foreach>
    </select>

    <select id="getSensorDayTimeRTList" resultType="com.yousen.report.entity.SensorDayTimeRT">
        <foreach collection="list" separator=" union " item="item">
            select a.ad_id as acId,a.dev_id as devId,b.rt_ad as maxTimeRT,c.rt_ad as minTimeRT from (SELECT
            ad_id,
            dev_id,
            max(ad_time) AS maxTime,
            min(ad_time) AS minTime
            FROM
                ${item}
            WHERE
            date_format(ad_time, '%Y-%m-%d') = #{dateTime}
            GROUP BY
            ad_id,
            dev_id) a
            left join (select dev_id,ad_id,rt_ad,ad_time from ${item} where date_format(ad_time, '%Y-%m-%d') = #{dateTime}) b
            on b.ad_id = a.ad_id and b.dev_id = a.dev_id and b.ad_time = a.maxTime
            left join (select dev_id,ad_id,rt_ad,ad_time from ${item} where date_format(ad_time, '%Y-%m-%d') = #{dateTime}) c
            on c.ad_id = a.ad_id and c.dev_id = a.dev_id and c.ad_time = a.minTime
        </foreach>
    </select>

    <select id="getSensorStatisticTables" resultType="string">
        <foreach collection="list" separator=" union " item="item">
            select table_name from information_schema.tables where table_name = #{item}
        </foreach>
    </select>

</mapper>