name: Java CI with Maven Mvnd

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        java-version: [25]
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Set up GraalVM JDK 25 for x64
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '25'
          distribution: 'graalvm'
          cache: maven
          architecture: x64
      - name: Install with Maven Mvnd
        run: |
          MVND_VERSION="2.0.0-rc-3"
          wget https://downloads.apache.org/maven/mvnd/${MVND_VERSION}/maven-mvnd-${MVND_VERSION}-linux-amd64.zip
          unzip maven-mvnd-${MVND_VERSION}-linux-amd64.zip
          echo "${PWD}/maven-mvnd-${MVND_VERSION}-linux-amd64/bin" >> $GITHUB_PATH
      - name: Configure Maven Mvnd settings
        run: |
          mkdir -p ~/.m2
          cat <<EOF > ~/.m2/settings.xml
          <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                                        https://maven.apache.org/xsd/settings-1.0.0.xsd">
            <servers>
              <server>
                <id>spring-cloud-alibaba-github</id>
                <username>KouShenhai</username>
                <password>${{ secrets.MAVEN_TOKEN }}</password>
              </server>
            </servers>
          </settings>
          EOF
      - name: Build with Maven Mvnd
        run: mvnd clean install -P test -U
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          verbose: true
          fail_ci_if_error: true
          files: |
            ./laokou-common/laokou-common-core/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-fory/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-kafka/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-lock/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-trace/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-log4j2/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-algorithm/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-context/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-reactor/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-crypto/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-security/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-i18n/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-xss/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-csv/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-websocket/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-pulsar/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-excel/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-idempotent/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-nacos/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-sensitive/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-secret/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-elasticsearch/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-mybatis-plus/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-sftp/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-grpc/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-modbus4j/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-redis/target/site/jacoco/jacoco.xml,
            ./laokou-common/laokou-common-coap/target/site/jacoco/jacoco.xml,
            ./laokou-cloud/laokou-gateway/target/site/jacoco/jacoco.xml,
            ./laokou-service/laokou-auth/laokou-auth-domain/target/site/jacoco/jacoco.xml
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Build Docker Image
        run: |
          # 登录阿里云镜像仓库
          docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }} registry.cn-shenzhen.aliyuncs.com
          # ========== 构建laokou-gateway ==========
          cd /home/runner/work/KCloud-Platform-IoT/KCloud-Platform-IoT/laokou-cloud/laokou-gateway
          # 使用Dockerfile构建镜像
          docker build . --file Dockerfile --tag registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-gateway:4.0.1
          # 推送镜像到镜像仓库
          docker push registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-gateway:4.0.1
          # ========== 构建laokou-monitor ==========
          cd /home/runner/work/KCloud-Platform-IoT/KCloud-Platform-IoT/laokou-cloud/laokou-monitor
          # 使用Dockerfile构建镜像
          docker build . --file Dockerfile --tag registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-monitor:4.0.1
          # 推送镜像到镜像仓库
          docker push registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-monitor:4.0.1
          # ========== 构建laokou-nacos ==========
          cd /home/runner/work/KCloud-Platform-IoT/KCloud-Platform-IoT/laokou-cloud/laokou-nacos
          # 使用Dockerfile构建镜像
          docker build . --file Dockerfile --tag registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-nacos:4.0.1
          # 推送镜像到镜像仓库
          docker push registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-nacos:4.0.1
          # ========== 构建laokou-auth ==========
          cd /home/runner/work/KCloud-Platform-IoT/KCloud-Platform-IoT/laokou-service/laokou-auth/laokou-auth-start
          # 使用Dockerfile构建镜像
          docker build . --file Dockerfile --tag registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-auth-start:4.0.1
          # 推送镜像到镜像仓库
          docker push registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-auth-start:4.0.1
          # ========== 构建laokou-admin ==========
          cd /home/runner/work/KCloud-Platform-IoT/KCloud-Platform-IoT/laokou-service/laokou-admin/laokou-admin-start
          # 使用Dockerfile构建镜像
          docker build . --file Dockerfile --tag registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-admin-start:4.0.1
          # 推送镜像到镜像仓库
          docker push registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-admin-start:4.0.1
          # ========== 构建laokou-logstash ==========
          cd /home/runner/work/KCloud-Platform-IoT/KCloud-Platform-IoT/laokou-service/laokou-logstash/laokou-logstash-start
          # 使用Dockerfile构建镜像
          docker build . --file Dockerfile --tag registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-logstash-start:4.0.1
          # 推送镜像到镜像仓库
          docker push registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-logstash-start:4.0.1
          # ========== 构建laokou-iot ==========
          cd /home/runner/work/KCloud-Platform-IoT/KCloud-Platform-IoT/laokou-service/laokou-iot/laokou-iot-start
          # 使用Dockerfile构建镜像
          docker build . --file Dockerfile --tag registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-iot-start:4.0.1
          # 推送镜像到镜像仓库
          docker push registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-iot-start:4.0.1
      - name: Build Native Image with GraalVM
        run: |
          # 登录阿里云镜像仓库
          docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }} registry.cn-shenzhen.aliyuncs.com
          # ========== 构建laokou-gateway-native ==========
          cd /home/runner/work/KCloud-Platform-IoT/KCloud-Platform-IoT/laokou-cloud/laokou-gateway
          # AOT处理
          mvnd spring-boot:process-aot
          # 构建本地镜像
          mvnd spring-boot:build-image -DskipTests
          # 推送镜像到镜像仓库
          docker push registry.cn-shenzhen.aliyuncs.com/koushenhai/laokou-gateway-native:4.0.1-SNAPSHOT
